.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.goto{
    height: 20px;
    width: 30px;
}
.flexbox{
    display: flex;
    align-items: center;
    justify-content: center
}